<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <head>
    <title>Access denied</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid" align="center">
<h3 class="alert-danger">Sorry. You are trying to view pages you do not have access to.
    You have to sign in or register to see this content</h3>
<div><span><a class="btn btn-default" th:href="@{/login}">login</a></span>
<span><a class="btn btn-default" th:href="@{/register}">register</a></span>
</div>
<p><img th:src="@{/nopower.jpg}"/></p>
</div>
</body>
</html>