<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Account details</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>

<div class="alert alert-success" th:insert="menu">
    Menu Component
</div>
<div class="alert alert-success">

Logged in as:
<p> name: <p  th:text="${user.username}" > </p> </p>
    <p> email: <p th:text="${user.email}" > </p> </p>

Current wallet balance:
 <p th:text="${user.wallet}" > wallet </p>
<a class="btn btn-default" th:href="@{/user/recharge(id=${user.id})}"> charge wallet</a>
<p> <a class="btn btn-default" th:href="@{/user/messages(id=${user.id})}"> view messages</a></p>
<p> <a class="btn btn-default" th:href="@{/user/subscriptions(id=${user.id})}"> view subscriptions</a></p>

    <!--history of all user bets-->
<table class="table table-bordered">
    <tr>
        <th> game </th>
        <th> bet on </th>
        <th> bet amount </th>
        <th> win </th>
        <th> amount won </th>

    </tr>
    <tr th:each="bet, iterStat: ${userBets}" >
        <td th:text="${bet.game}"></td>
        <td th:text="${bet.bettingTeam}"></td>
        <td th:text="${bet.amount}"></td>
        <td th:text="${bet.win}"></td>
        <td th:text="${bet.amountWon}"></td>
    </tr>
</table>
</div>
</body>
</html>