<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>API access points</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>
<div class="container">
<div class="alert alert-success" th:insert="menu">
    Menu Component
</div>
<div class="alert alert-success">
    <p>Here you can learn about using data feed we provide for our users.
        To use this feed you need to use your unique api key</p>
    <p> <a class="btn btn-default" th:href="@{/api/get-apikey}">get your api key</a> </p>

<p>
    Methods:
all method urls work by this scheme:
URL : api/{method name}?apikey={your_apikey}
</p>
List of methods:
<div>
<ol class="list-view">
    <li>
        <p>get leagues: </p>
        <p>GET /api/get-leagues </p>
        <p> returns supported football leagues </p>
<!--parameters?-->
    </li>
     <li>
        <p>get sports: </p>
        <p> GET /api/get-sports </p>
        <p>returns supported sports </p>
<!--parameters?-->
    </li>
    <li>
        <p>get teams: </p>
        <p>GET /api/get-teams </p>
        <p>returns supported teams with their results and current standing </p>
<!--parameters?-->
    </li>
    <li>
        <p>get live games: </p>
        <p>GET /api/get-live-games </p>
        <p>returns live games </p>
<!--parameters?-->
    </li>
    <li>
        <p>get scheduled games: </p>
        <p>GET /api/get-scheduled-games </p>
        <p> returns scheduled games </p>
<!--parameters?-->
    </li>
    <li>
        <p>get game results: </p>
        <p>GET /api/get-games-results </p>
        <p>returns the games results; </p>
<!--parameters?-->
    </li>
</ol>
</div>
</div>
</div>
</body>
</html>