<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BetIt</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" />-->
</head>
<body>
<div class="container">

<div class="alert alert-success">
    <span sec:authorize="isAuthenticated()">
        <p> Hello! </p>
     <p align="right">
        <form th:action="@{/logout}" method="POST" >

        <input  class="btn btn-default" type="submit" value="logout">
        </form>
        </p>

        logout!!
    </span>
</div>

<div class="alert alert-success" th:insert="menu">
    Menu Component
</div>

    PUT SOMETHING HERE BLYAT

</div>
</body>
</html>