<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Live games</title>
    <!--<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>
<div class="container">

    <div class="alert alert-success" th:insert="menu">
        Menu Component
    </div>
    <div class="alert alert-success">
<table class="table table-bordered">

    <tr>
        <th> sport </th>
        <th> team1 </th>
        <th> team2 </th>
        <th> start </th>
        <th> end </th>
        <th> odds </th>
        <th> place a bet </th>

    </tr>
    <tr th:each="game, iterStat: ${liveGames}" >
        <td th:text="${game.sport}"></td>
        <td th:text="${game.start}"></td>
        <td th:text="${game.end}"></td>
        <td th:text="${game.homeTeam.name}"></td>
        <td th:text="${game.awayTeam.name}"></td>
        <td >
            <span th:text="${game.homeTeamWinOdd}" > homeTeamWinOdd </span> :
            <span th:text="${game.homeTeamWinOrDrawOdd}" > homeTeamWinOrDrawOdd </span> :
            <span th:text="${game.DrawOdd}" > DrawOdd </span> :
            <span th:text="${game.awayTeamWinOrDrawOdd}" > awayTeamWinOrDrawOdd </span> :
            <span th:text="${game.awayTeamWinOdd}" > homeTeamWinOdd </span> :
        </td>
        <span sec:authorize="isAuthenticated()">
            <!--<td><a href="/game/bet/${game.id}"> bet </a> </td>-->
            <td> <a class="btn btn-default" th:href="@{/game/bet(id=${game.id})}">bet</a> </td>
        </span>
    </tr>
</table>
</div>
</div>
</body>
</html>