<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Live games</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<table class="table table-bordered">

    <tr>
        <th> sport </th>
        <th> league </th>
        <th> team1 </th>
        <th> team2 </th>
        <th> start </th>
        <th> end </th>
        <th> odds </th>
        <th> place a bet </th>

    </tr>
    <tr th:each="game, iterStat: ${liveGames}" >
        <td th:text="${game.sport}"></td>
        <td th:text="${game.league}"></td>
        <td th:text="${game.start}"></td>
        <td th:text="${game.end}"></td>
        <td th:text="${game.homeTeam.name}"></td>
        <td th:text="${game.awayTeam.name}"></td>
        <td th:text="${game.homeTeamWinOdd} ' : ' ${homeTeamWinOrDrawOdd} ' : ' ${game.DrawOdd} ' : '
        ${game.awayTeamWinOrDrawOdd} ' : ' ${game.awayTeamWinOdd}" ></td>
        <span sec:authorize="isAuthenticated()">
            <td><a href="/game/bet/${game.id}"> bet </a> </td>
            <!--<td> <a th:href="@{/game/bet(id=${game.id})}">bet</a> </td>-->
        </span>
    </tr>
</table>

</body>
</html>