<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<span sec:authorize="isAuthenticated()">-->

        <!--<p>hello, <span sec:authentication="login"></span></p>-->

        <!--<form th:action="@{/logout}" method="POST">-->

            <!--<input type="submit" value="Wyloguj"/>-->

        <!--</form>-->

    <!--</span>-->
<!--<span sec:authorize="!isAuthenticated()">-->

    <a class="btn btn-default" href="register"> REGISTER </a> <br>
        <form th:action="@{/login}"   method="post">

            <p>username: <input type="text" id="username" name="username"/></p>
            <p>password: <input type="password" id="password" name="password"/></p>

        <p><input type="submit" value="Log in" /></p>
</form>

<!--</span>-->
</body>
</html>