<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>

    <a class="btn btn-default" href="register"> REGISTER </a> <br>
        <form th:action="@{/login}"   method="post">

            <p>username: <input type="text" id="username" name="username" required/></p>

            <p>password: <input type="password" id="password" name="password" required/></p>

        <p><input type="submit" value="Log in" /></p>
</form>

</body>
</html>