<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>
<nav class="nav">
<span><a class="btn btn-default" href="/index"> home </a> </span>
<span><a class="btn btn-default" href="/menu/view"> games </a> </span>
<span><a class="btn btn-default" href="/menu/live"> live </a> </span>
<span><a  class="btn btn-default" href="/menu/results"> results </a> </span>
<span><a  class="btn btn-default" href="/menu/standings"> standings </a> </span>
<span><a  class="btn btn-default" href="/menu/api"> API </a> </span>

<span sec:authorize="isAuthenticated()">

<span><a class="btn btn-default" th:href="@{/menu/viewbets(id=${user.id})}"> my live bets </a> </span>
<!--<span><a class="btn btn-default" th:href="@{/menu/viewGroup(id=${user.id})}"> my group </a> </span>-->
<!--<span><a class="btn btn-default" th:href="@{/menu/viewGroupBets(id=${user.id})}"> my group bets </a> </span>-->
<!--<span><a class="btn btn-default" th:href="@{/menu/viewGroupLiveBets(id=${user.id})}"> my group live bets </a> </span>-->
<span><a class="btn btn-default" th:href="@{/menu/viewaccount(id=${user.id})}"> account </a> </span>
<span><form th:action="@{/logout}" method="POST">
	         <input type="submit" value="Logout"/>
	    </form>
     </span>

</span>
</nav>
</body>
</html>