<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>
<nav class="nav">
<span><a class="btn btn-default" href="/menu/view"> games </a> </span>
<span><a class="btn btn-default" href="/menu/live"> live </a> </span>
<span><a  class="btn btn-default" href="/menu/results"> results </a> </span>
<span><a  class="btn btn-default" href="/menu/standings"> standings </a> </span>
<span><a  class="btn btn-default" href="/menu/api"> API </a> </span>

<span sec:authorize="isAuthenticated()">

<span><a class="btn btn-default" href="/menu/viewbets(id=${user.id})"> my bets </a> </span>
    <!--current user bets-->
<span><a class="btn btn-default" href="/menu/viewaccount(id=${user.id})"> account </a> </span>

</span>
</nav>
</body>
</html>