<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>place bet</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>

<div class="alert alert-success" th:insert="menu">
    Menu Component
</div>
<div class="alert alert-success">
<span sec:authorize="isAuthenticated()">

<div> Place a bet on game:
    <p> home </p>
<p><span th:text="${game.homeTeam.name}">team1</span>
 vs.
    <p> away </p>
    <span th:text="${game.awayTeam.name}">team2</span>
</p>
 <p>   Odds:
    <p> Home team wins : <span th:text="${game.homeTeamWinOdd}"> homeTeamWinOdd </span> </p>
    <p> Home team wins or draws : <span th:text="${game.homeTeamWinOrDrawOdd}"> homeTeamWinOrDrawOdd </span> </p>
    <p> Draw : <span th:text="${game.DrawOdd}"> DrawOdd </span> </p>
    <p> Away team wins or draws :  <span th:text="${game.awayTeamWinOrDrawOdd}"> awayTeamWinOrDrawOdd </span> </p>
    <p> Away team wins : <span th:text="${game.awayTeamWinOdd}"> homeTeamWinOdd </span> </p>
</p>
</div>
<div>

    Your bet:
<form th:action="@{/game/bet}" th:object="${bet}" method="post">
    <input type="hidden" name="id" th:value="${game.id}" />
    <!--<p>amount: <input type="text" name="amount" required/> amount </p>-->
    <p>amount: <input type="text" name="amount" th:value="${bet.amount}"/> amount </p>
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"> error msg</p>

    <p>bet choice:
    <select name="choice" >
        <option value="1"> home team wins </option>
        <option value="2"> home team wins or draws</option>
        <option value="3"> draw</option>
        <option value="4"> away team wins or draws</option>
        <option value="5"> away team wins </option>

    </select></p>

    <p><input type="submit" value="Submit"/></p>
</form>
</div>

</span>
</div>
</body>
</html>