<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>recharge</title>
    <!--<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>

<div class="alert alert-success" th:insert="menu">
    Menu Component
</div>
<div class="alert alert-success">
<span sec:authorize="isAuthenticated()">

<form th:action="@{/user/recharge}" th:object="${user}" method="post">
    <p th:if="${#fields.hasErrors('user')}" th:errors="*{user}">  </p>

    <p>amount: <input type="text" th:field="*{amount}" /> amount </p>
    <p>credit card number: <input type="text" th:field="*{creditCardNum}" /> credCardNum </p>

    <p><input type="submit" value="Charge" /></p>
</form>
</span>
</div>
</body>
</html>