<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <!--<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} "/>

</head>
<body>
<div class="container-fluid">

    <p>Welcome! Please provide your data: </p>

    <form th:action="@{/register}"  th:object="${user}" method="post">

    <p>username: <input id="username" type="text" th:field="*{username}" /></p>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> error msg</p>

    <p>email: <input id="email" type="text" th:field="*{email}" /></p>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> error msg</p>

    <p>password: <input id="password" type="text" th:field="*{password}" /></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> error msg</p>

    <p>credit card: <input id="creditCardNum" type="text" th:field="*{creditCardNum}" /></p>
    <p th:if="${#fields.hasErrors('creditCardNum')}" th:errors="*{creditCardNum}"> error msg</p>

    <p><input type="submit" value="Submit" /></p>

    Disclaimer: All new users get FREE 10 credits for bets. ENJOY. IT'S ON THE HOUSE.

    </form>
</div>
</body>
</html>